body {
  background-color:#F2F2F2;
  font-family: Roboto;
  font-weight: bold;
  color: #A98887
}


#calculator {
  background-color: #95CFEB;
  width: 90%;
  margin: 100px auto;
  padding: 0 1% 3% 1%;


  border-bottom: 5px solid #009CE3;
}
#container {
  margin-left: 5%;

}
input[type="text"] {
  background-color: #7BA7BB;
  border: 2px solid #7BA7BB;
  width: 87%;
  margin: 2% 1%;
  padding: 4% 1%;
  border-radius: 3px;
  border-top: 5px solid #5A8895;
}

.buttons-red {
  background-color: #FF9EA7;
  width: 21%;
  color: white;
  border-radius: 3px;
  border-bottom: 5px solid #FF6D86;
  display:inline-block;
  text-align: center;
  margin-left:1%;
}


.buttons-white {
  background-color:#FFFFFF;
  width: 21%;
  display: inline-block;
  text-align: center;
  margin-left:1%;
  margin-top: 10px;
  border-bottom: 5px solid #6AA8BB;
  border-radius: 3px;
}


.buttons-pink {
  background-color: #FFF0F5;
  width: 21%;
  display: inline-block;
  text-align: center;
  margin-left:1%;
  margin-top: 10px;
  border-radius: 3px;
  border-bottom: 5px solid #6AA8BB;

}


#equal {
  background-color: #F1FF91;
  width: 21%;
  display: inline-block;
  text-align: center;
  margin-left:1%;
  margin-top: 10px;
  border-radius: 3px;
  border-bottom: 5px solid #9CA754;
}

.buttons-red:hover {
  background-color: #FF6D00;
  border-bottom: 3px solid #FF6D86;

}
.buttons-white:hover {
  background-color:grey;
  color: white;
  border-bottom-width: 3px;
}
.buttons-pink:hover {
  background-color: pink;
  border-bottom-width: 3px;
}
#equal:hover {
  background-color: gold;
  border-bottom-width: 3px;
}
